body {
    background-color: #E8E8E8;    

}

h1 {
    text-align: center;
    color: #FF1493;
    font-family: Courier New, Courier, monospace;
    font-size: 20px;
}

p {
    color: #FF6EB4;    
    font-family: Courier New, Courier, monospace;

}

